<div class="scout-main-container">
    <div id="scoutDashboard" class="scout-content-container active">
        <div id="scoutPage1" class="scout-player-cards-container">
            <% if (players && players.length > 0) { %>
                <% players.forEach(player => { %>
                    <div class="scout-player-card">
                        <div class="scout-player-header">
                            <h3><%= player.name %></h3>
                            <% if (player.rating) { %>
                                <div class="scout-rating"><%= player.rating %></div>
                            <% } else { %>
                                <p>لا يوجد تقييم لهذا اللاعب.</p> <%- /* إضافة هذا السطر */ %>
                            <% } %>
                        </div>
                        <div class="scout-player-info">
                            <% if (player.birthdate) { %>
                                <p>العمر: <%= new Date().getFullYear() - new Date(player.birthdate).getFullYear() %> سنة</p>
                            <% } %>
                            <% if (player.phoneNumber) { %>
                                <p>الجوال: <%= player.phoneNumber %></p>
                            <% } %>
                            </div>
                        </div>
                <% }); %>
            <% } else { %>
                <p>لا يوجد لاعبون للعرض.</p>
            <% } %>
        </div>
        <div id="playerCardsPagination" class="pagination"></div>
    </div>
</div>